<article class="c-article {{body_class}}">
    <header class="hd">
        <h2>{{title}}</h2>
        <time datetime="{{published_at}}">{{date format="YYYY/MM/DD"}}</time>
    </header>
    <div class="grap">
        {{#if feature_image}}
            <center>
                <img src="{{img_url feature_image}}" alt="" width="100%"/>
            </center>
        {{/if}}
        {{{content}}}
    </div>
    {{#if tags}}
        <div class="tags">
            {{#foreach tags}}
                <a href="{{url}}" title="{{name}}" class="tag">{{name}}</a>
            {{/foreach}}
        </div>
    {{/if}}
    <nav class="post-nav" role="navigation">
        <div class="nav-links fn-clear">
            {{#prev_post}}
            <div class="nav-previous fn-left {{#if feature_image}}post-cover" data-echo-background="{{img_url feature_image}}{{/if}}">
                <a href="{{url}}" rel="prev">
                    <span class="meta-nav">Previous</span>
                    <span class="post-title">{{title}}</span>
                </a>
            </div>
            {{/prev_post}}
            {{#next_post}}
            <div class="nav-next fn-right {{#if feature_image}}post-cover" data-echo-background="{{img_url feature_image}}{{/if}}">
                <a href="{{url}}" rel="next">
                    <span class="meta-nav">Next</span>
                    <span class="post-title">{{title}}</span>
                </a>
            </div>
            {{/next_post}}
        </div>
    </nav>
    <div class="post-author">
        {{#primary_author}}
        {{#if profile_image}}
            <img src="{{img_url profile_image}}" alt="{{name}}" class="post-author__head"/>
        {{/if}}
        <h3 class="post-author__name"><a href="{{url}}" title="{{name}}的所有文章">{{name}}</a></h3>
        <div class="post-author__desc"><p>{{bio}}</p>
        </div>
        {{/primary_author}}
    </div>
    <div class="post-comment" id="SOHUCS" sid="{{comment_id}}" ></div>
</article>